p{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    text-indent: 30px;
    color: #fff;
}

.tortenet{
    padding-left: 10px;
    padding-right: 10px;
}

.tortenet h2{
    font-family: 'Racing Sans One', cursive;
    color: red;
    font-size: 30px;
}

