@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

body{
    background-color: rgb(70, 66, 66);
}

/*Title*/

.cim{
    background-color: rgb(70, 66, 66);
}

.cim h1{
    padding-left: 30px;
    color: red;
    font-weight: bold;
    font-family: 'Racing Sans One', cursive;
    font-size: 60px;
}

/*Navigation Bar*/

.nav{
    box-shadow: 1px 5px 5px 2px rgb(56, 56, 56);
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(70, 66, 66);
}
  
nav li{
    float: left;
}
  
nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: default;
    font-weight: bold;
}
  
nav li a:hover{
    background-color: rgba(43, 43, 43, 0.5);
}

nav li .kij{
    background-color: rgba(43, 43, 43, 0.5);
    cursor: no-drop;
}

/*Tartalom rész*/

p{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    text-indent: 30px;
    color: #fff;
}

h2{
    font-family: 'Racing Sans One', cursive;
    color: red;
    font-size: 30px;
}